# Ignore package dependencies
venv/

# Ignore compiled Python files
__pycache__/
*.pyc
migrations/

# Ignore log files
*.log


# Ignore static files
/static/
/commerce/static/

# Ignore media files
/media/
/tmp/
/commerce/tmp/

# Ignore package dependencies
.vscode/
.vscode